/*  Use tilda instead of the child selector to fix (partially)
    a weird issue in IE11 for nested <details> elements */
summary ~ * {
    display: none;
}

details[open] > * {
    display: block;
}

details > summary {
    display: block;
    overflow: hidden; /* fix focus outline borders in open state */
}

/*  Hide native indicator and use pseudoelement instead */
summary::-webkit-details-marker {
    display: none;
}

/*  IE8 has weird issue with updating state of border triangle.
    So use preudoelement symbol for it to fix that quirks */
summary:before {
    content: "\25BA";
    display: inline-block;
    width: 1.25em;
    font-size: 0.75em;
}

details[open] > summary:before {
    content: "\25BC";
}

/*  For modern browsers use border to draw the triangle.
    It allows to be consistent regarding on the current font */
summary::before {
    content: "" !important;

    width: 0;
    height: 0;
    border: solid transparent;
    border-left-color: inherit;
    border-width: 0.25em 0.5em;
    margin-left: 0.25em;
    margin-right: -0.25em;
    font-size: inherit;

    transform: rotate(0deg);
    transform-origin: 25% 50%;
    transition: transform 0.25s;
}

details[open] > summary::before {
    transform: rotate(90deg);
}
