/*
    Hide native indicator and use pseudoelement instead
*/
summary::-webkit-details-marker {
    display: none;
}

details > * {
    display: none;
}

details > summary {
    display: block;
    overflow: hidden; /* fix focus outline borders in open state */
}

details[open] > * {
    display: block;
}

/*
    IE8 has weird issue with updating state of border triangle.
    So use preudoelement symbol for it to fix that quirks
*/
summary:before {
    content: "\25BA";
    font-size: 0.75em;
    display: inline-block;
    width: 1.5em;
    -ms-user-select: none;
}

details[open] > summary:before {
    content: "\25BC";
}

/*
    For modern browsers use border to draw the triangle.
    It allows to be consistent regarding on the current font
*/
:root summary:before {
    content: "";

    width: 0;
    height: 0;
    border: solid transparent;
    border-left-color: inherit;
    border-width: 0.475em 0.75em;

    -webkit-transform: rotate(0deg) translate(0.25em, 0em);
    -ms-transform: rotate(0deg) translate(0.25em, 0em);
    transform: rotate(0deg) translate(0.25em, 0em);

    -webkit-transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
}

:root details[open] > summary:before {
    content: "";

    -webkit-transform: rotate(90deg) translate(0.5em, 0.25em);
    -ms-transform: rotate(90deg) translate(0.5em, 0.25em);
    transform: rotate(90deg) translate(0.5em, 0.25em);
}
